.wrapper {
  padding: 1em 8px 0;
}

.wrapper h1 {
  font-size: 1rem;
  text-transform: uppercase;
}

.wrapper h2 {
  font-weight: normal;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.wrapper ul {
  margin: 0;
  padding: 0 0 0 1em;
  list-style-type: none;
  border-left: 1px dashed #aaaaaa;
  line-height: 1.3;
}
