.wrapper {
  display: grid;
  grid-template:
    "header header" auto
    "nav main" 1fr / auto 1fr;
}

.wrapper > header {
  grid-area: header;
}

.wrapper > nav {
  grid-area: nav;
  max-width: 15vw;
  min-width: min-content;
}

.wrapper > main {
  grid-area: main;
  padding: 8px;
}

@media (max-width: 600px) {
  .wrapper {
    grid-template:
      "header" auto
      "main" auto
      "nav" auto / auto;
  }

  .wrapper > nav {
    max-width: 100%;
  }
}
